<div class="index">
	<div class="welcome">Welcome to the Home Page {{userName}} </div>
	{{#message}}
	<div class="gabble-wrapper">
		<div class="gabble">
		{{.}}
		</div>
		<div class="gabble-tools">
			<div class="likes tool">
				like
			</div>
			<div class="delete tool">
				delete
			</div>
		</div>
	</div>
	{{/message}}
</div>
