<!DOCTYPE html>
<html>
<head>
	<title>Gabble</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="navbar">
		<nav class="navbar-top">
			<div class="home nav-links"><a href="#">Gabble</a></div>
			<div class="login nav-links"><a href="#">login</a></div>
			<div class="logout nav-links"><a href="#">logout</a></div>
		</nav>
		<div class="navbar-bottom">
			<div class="crowd">
			Gabble
			</div>
		</div>
	</div>
		{{{yield}}}
</body>
</html>