<!DOCTYPE html>
<html>
<head>
	<title>Gabble</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="navbar">
		<nav class="navbar-top">
			<div class="home nav-links"><a href="#">Gabble</a></div>
			<div class="login-link nav-links"><a href="#">Something Else</a></div>
			<div class="logout nav-links"><a href="#">logout</a></div>
		</nav>
		<div class="navbar-bottom">
			<div class="crowd">
				<p class="head">Gabble</p>
				<p class="sub-head">Making sure people have ANOTHER way to talk, just what we need.</p>
			</div>
		</div>
	</div>
		{{{yield}}}
</body>
</html>