<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<div class="home nav-links"><a href="#">Home Linkage</a></div>
			<div class="login nav-links"><a href="#">Login Linkage</a></div>
			<div class="logout nav-links"><a href="#">Logout Linkage</a></div>
			<div class="new-gab nav-links"><a href="#">Create a new gab</a></div>
		</nav>
		<form>
			<input type="text" placeholder="Enter UserName">
			<input type="password" placeholder="Enter Password">
			<input type="submit">
		</form>
	</div>
</body>
</html>