<div class="login">
	{{#errors}}
	<div class="errors">
		{{.}}
	</div>
	{{/errors}}
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="Enter username">
		<input type="password" name="password" placeholder="Enter Password">
		<input type="submit" value="Sign Up">
	</form>
</div>
