body{
	margin: 0px;
	max-height: 200vh;
}
a{
	color: white;
}
a:link{
	color: white;
}
a:visited{

}
a:hover{

}
a:active{

}
.gabble-owner{
	border-bottom: ;
}
.navbar-top{
	display: flex;
	justify-content: space-around;
	background-color: #93a1ac;
	align-items: center;
	height: 6vh;
}
.navbar{
	margin-bottom: 10vw;
	outline: 2px solid black;
	position: fixed;
}
input{
	width: 40vw;
	height: 50px;
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 30vw;
}
#resolve-form{
	height: 50px;
}
.errors{
	color: red;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.crowd{
	background-image: url('/static/img/crowd.jpeg');
	background-size: cover;
	background-position: center center;
	color: white;
	text-align: center;
	height: 120px;
	border: 1px solid black;
	width: 100vw;
}
.head{
	font-size: 30px;
}
.sub-head{
	font-size: 12px;
}
.gabble-wrapper{
	margin-top: 20px;
	outline: 2px solid black;
}
.login,.index{
	padding-top: 200px;
}
.index{
	margin: auto;
	text-align: center;
	min-width: 80vw;
	max-width: 80vw;
}
.gabble-tools{
	display: flex;
	justify-content: flex-end;
	outline: 2px solid black;
}
.tool{
	font-size: 20px;
	width: 20vw;
	outline: 1px solid black;
}
.delete{
	background-color: red;
}
.likes{
	background-color: green;
}
.errors{
	text-align: center;
	border-bottom: 1px dashed red;
}

